<div>
    <div>
        <span>ng new project-name</span> - <span>Erstellt ein neues Angular-Projekt.</span>
    </div>
    <div>
        <span>ng serve</span> - <span>Startet einen Entwicklungsserver und öffnet die Anwendung im Browser.</span>
    </div>
    <div>
        <span>ng serve --open</span> - <span>Startet den Entwicklungsserver und öffnet die Anwendung automatisch im Standard-Webbrowser.</span>
    </div>
    <div>
        <span>ng build</span> - <span>Kompiliert die Anwendung in das Verzeichnis /dist.</span>
    </div>
    <div>
        <span>ng build --prod</span> - <span>Kompiliert die Anwendung für die Produktionsumgebung mit Optimierungen.</span>
    </div>
    <div>
        <span>ng test</span> - <span>Startet die Testlaufzeit und führt Unit-Tests aus.</span>
    </div>
    <div>
        <span>ng e2e</span> - <span>Führt End-to-End-Tests mit Protractor aus.</span>
    </div>
    <div>
        <span>ng generate component component-name</span> - <span>Erstellt eine neue Komponente.</span>
    </div>
    <div>
        <span>ng generate directive directive-name</span> - <span>Erstellt eine neue Direktive.</span>
    </div>
    <div>
        <span>ng generate service service-name</span> - <span>Erstellt einen neuen Service.</span>
    </div>
    <div>
        <span>ng generate module module-name</span> - <span>Erstellt ein neues Modul.</span>
    </div>
    <div>
        <span>ng generate pipe pipe-name</span> - <span>Erstellt eine neue Pipe.</span>
    </div>
    <div>
        <span>ng generate guard guard-name</span> - <span>Erstellt einen neuen Guard.</span>
    </div>
    <div>
        <span>ng generate class class-name</span> - <span>Erstellt eine neue Klasse.</span>
    </div>
    <div>
        <span>ng generate interface interface-name</span> - <span>Erstellt eine neue Interface.</span>
    </div>
    <div>
        <span>ng generate enum enum-name</span> - <span>Erstellt ein neues Enum.</span>
    </div>
    <div>
        <span>ng add package-name</span> - <span>Fügt ein neues Paket zur Anwendung hinzu und konfiguriert es.</span>
    </div>
    <div>
        <span>ng update</span> - <span>Aktualisiert die Angular-Anwendung und ihre Abhängigkeiten.</span>
    </div>
    <div>
        <span>ng deploy</span> - <span>Bereitet die Anwendung für die Bereitstellung vor und veröffentlicht sie, wenn ein Bereitstellungspaket konfiguriert ist.</span>
    </div>
    <div>
        <span>ng lint</span> - <span>Führt Linting-Tools auf Projektcode aus, um Codequalität und Konsistenz zu gewährleisten.</span>
    </div>
    <div>
        <span>ng config</span> - <span>Ruft Konfigurationseinstellungen ab oder setzt diese.</span>
    </div>
    <div>
        <span>ng help</span> - <span>Zeigt eine Hilfe-Seite mit allen verfügbaren Befehlen und deren Optionen an.</span>
    </div>
    <div>
        <span>ng version</span> - <span>Zeigt die aktuelle Version von Angular CLI und die Umgebungsdetails an.</span>
    </div>
    <div>
        <span>ng doc search-term</span> - <span>Öffnet die offizielle Angular-Dokumentation für den angegebenen Suchbegriff im Browser.</span>
    </div>
    <div>
        <span>ng run</span> - <span>Führt eine Angular CLI-Anwendung gemäß einer angegebenen Konfiguration aus.</span>
    </div>
    <div>
        <span>ng xi18n</span> - <span>Extrahiert i18n-Nachrichten aus dem Quellcode.</span>
    </div>
    <div>
        <span>ng generate library library-name</span> - <span>Erstellt eine neue Bibliothek im aktuellen Angular-Projekt.</span>
    </div>
</div>

<div>
    Zusätzliche Befehle
    <!-- Zusätzliche Befehle -->

    <div>
        <span>ng serve --port 4201</span> - <span>Startet den Entwicklungsserver auf einem alternativen Port, hier 4201.</span>
    </div>
    <div>
        <span>ng build --aot</span> - <span>Kompiliert die Anwendung mit Ahead-of-Time (AOT) Kompilierung für eine verbesserte Startzeit.</span>
    </div>
    <div>
        <span>ng build --watch</span> - <span>Beobachtet Dateiänderungen und führt automatisch einen erneuten Build durch.</span>
    </div>
    <div>
        <span>ng test --code-coverage</span> - <span>Führt Unit-Tests aus und erstellt einen Code-Coverage-Bericht.</span>
    </div>
    <div>
        <span>ng generate module app-routing --flat --module=app</span> - <span>Erstellt ein neues Routing-Modul und fügt es dem AppModule hinzu, ohne einen neuen Ordner zu erstellen.</span>
    </div>
    <div>
        <span>ng generate component components/my-component --module=app</span> - <span>Erstellt eine neue Komponente und fügt sie dem AppModule hinzu.</span>
    </div>
    <div>
        <span>ng config cli.defaultCollection &#64;angular-eslint/schematics</span> - <span>Ändert die Standard-Schematics-Sammlung, die Angular CLI verwendet, zu Angular ESLint.</span>
    </div>
    <div>
        <span>ng deploy --base-href=/my/app/</span> - <span>Bereitet die Anwendung für die Bereitstellung vor und aktualisiert den Base-Href-Wert.</span>
    </div>
    <div>
        <span>ng update &#64;angular/core &#64;angular/cli</span> - <span>Aktualisiert Angular Core und Angular CLI auf die neueste Version.</span>
    </div>
    <div>
        <span>ng add &#64;angular/material</span> - <span>Fügt Angular Material zur Anwendung hinzu und führt eine Grundkonfiguration durch.</span>
    </div>
</div>
<div>
    Unterbefehle
    <!-- Unterbefehle -->

    <div>
        <span>ng serve</span> - <span>Startet den Entwicklungsserver.</span>
        <div>
            <span>--open</span> - <span>Öffnet die Anwendung automatisch im Webbrowser.</span>
        </div>
        <div>
            <span>--port 4201</span> - <span>Startet den Server auf einem spezifischen Port, hier 4201.</span>
        </div>
        <div>
            <span>--ssl</span> - <span>Startet den Server mit SSL, sodass die Anwendung über HTTPS verfügbar ist.</span>
        </div>
    </div>
    <div>
        <span>ng build</span> - <span>Kompiliert die Anwendung in das /dist-Verzeichnis.</span>
        <div>
            <span>--prod</span> - <span>Kompiliert die Anwendung für die Produktionsumgebung mit Optimierungen.</span>
        </div>
        <div>
            <span>--aot</span> - <span>Verwendet Ahead-of-Time Kompilierung.</span>
        </div>
        <div>
            <span>--source-map</span> - <span>Erstellt Source Maps für die Debugging-Unterstützung.</span>
        </div>
    </div>
    <div>
        <span>ng test</span> - <span>Startet die Testlaufzeit und führt Unit-Tests aus.</span>
        <div>
            <span>--watch=false</span> - <span>Führt Tests einmalig aus und beendet dann den Prozess (nicht im Watch-Modus).</span>
        </div>
        <div>
            <span>--code-coverage</span> - <span>Erstellt einen Bericht über die Testabdeckung.</span>
        </div>
    </div>
    <div>
        <span>ng generate</span> - <span>Generiert oder modifiziert Dateien basierend auf einer Schematic.</span>
        <div>
            <span>component my-component</span> - <span>Erstellt eine neue Komponente namens 'my-component'.</span>
        </div>
        <div>
            <span>service my-service</span> - <span>Erstellt einen neuen Service namens 'my-service'.</span>
        </div>
        <div>
            <span>module my-module</span> - <span>Erstellt ein neues Modul namens 'my-module'.</span>
        </div>
    </div>
    <div>
        <span>ng update</span> - <span>Aktualisiert die Anwendung und ihre Abhängigkeiten.</span>
        <div>
            <span>&#64;angular/core</span> - <span>Aktualisiert &#64;angular/core und die damit verbundenen Abhängigkeiten auf die neueste Version.</span>
        </div>
        <div>
            <span>--force</span> - <span>Erzwingt die Aktualisierung von Paketen und löst Version-Konflikte automatisch.</span>
        </div>
    </div>
    <div>
        <span>ng add</span> - <span>Fügt ein neues Paket zur Anwendung hinzu und konfiguriert es.</span>
        <div>
            <span>&#64;angular/material</span> - <span>Fügt Angular Material hinzu und führt eine Grundkonfiguration durch.</span>
        </div>
    </div>
    <div>
        <span>ng config</span> - <span>Ruft Konfigurationseinstellungen ab oder setzt diese.</span>
        <div>
            <span>cli.defaultCollection &#64;angular-eslint/schematics</span> - <span>Ändert die Standard-Schematics-Sammlung zu Angular ESLint.</span>
        </div>
    </div>
</div>